<script src="/meta/javascripts/jquery.autoresize.js"></script>
<fieldset>
  <div class="control-group">
    <label class="control-label">Metadata</label>
    <div class="controls">
      <textarea name="<%= formFieldName %>" class="span8" rows="3" placeholder="Use JSON format"/><%= formFieldValue %></textarea>
    </div>
  </div>
</fieldset>
<script type="text/javascript">
jQuery(function($) {
  $('#check_form textarea[name="<%= formFieldName %>"]').autoResize();
});
</script>
